{
  "api_credentials": {
    "username": "",
    "password": "",
    "client_id": "",
    "client_secret": "",
    
  },
  "db_credentials": {
    "host": "localhost",
    "user": "root",
    "password": "dev",
    "database": "adskom",
    
  }
}