{
  "api_credentials": {
  	"username": "<API Username>",
    "password": "<API Password>",
    "download_folder": "<attachment download folder>",
    "timezone": "<timezone>"
  },
  "db_credentials": {
    "host": "localhost",
    "user": "root",
    "password": "dev",
    "database": "adskom"
  }
}